ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

li a:hover {
  background-color: ivory;
}

img {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

h1 {
  font-family: Impact;
  color: cornflowerblue;
}

h2 {
  font-family: Impact;
  color: cornflowerblue;
}


body {
  background-color: black;
}
